.address-card {
  background: #fff;
  max-width: 580px;
  padding: 30px;
  -webkit-box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.06);
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  aspect-ratio: 0.95;
  border: 5px solid rgb(129 103 103 / 40%);
}

.address-card-title {
  font-family: inherit;
  font-size: 22px;
  margin-top: -10px;
  margin-bottom: 20px;
  font-weight: 700;
}

.donate-box .donate-card .qr-code-image {
  aspect-ratio: 0.5 !important;
}

@media screen and (max-width: 600px) {
  .title-mobile {
    margin-top: 70px !important;
  }
}
